{% extends "master.twig" %}

{% block content %}
    <header>
        
        
    </header>
    <article>
        
        <div class="">
        <div class="uk-grid-large" uk-grid>
            <div class="ctx-post-image uk-width-1-3@m">
                <span>{{post.thumbnail.caption}}</span>
                <img src="{{ post.thumbnail.src('large') }}" class="ctx-round-edges" alt="Image for {{ post.title }}" />
                <div class="title">
                    <h2 class="uk-margin-remove uk-text-right">{{post.title}}</h2><br>
                    <span>{{ post.post_date|date("j. F Y") }}</span>
                </div>
                <div class="latest-news uk-text-right uk-visible@m">
                    <h4>Weitere Nachrichten</h4>
                    {% include "partials/posts-latest.twig" with {'latest_posts': latest_posts} %}
                </div>
            </div>
            <div class="uk-width-1-3@m">
                
                {{ function( 'apply_filters', 'the_content', post.content ) }}
                
            </div>
           
        </div>
        
    </div>
        
    </article>
{% endblock %}